<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Sample</title>
  </head>
  <body>
    <form action="/todo/create" method="post">
      <input type="text" name="title" />
      <input type="submit" value="create" />
    </form>

    <ul>
      <li th:each="todo : ${todos}">

        <span th:text="${todo.title}"></span>

        <span th:text="${todo.createdAt}"></span>

        <form action="todo/completeToggle" method="post">
          <input type="hidden" name="id" th:value="${todo.id}" />
          <input type="submit" th:if="${todo.completed}" th:value="'&#10004;'" />
          <input type="submit" th:unless="${todo.completed}" th:value="'&#10008;'" />
        </form>

        <form action="todo/delete" method="post">
          <input type="hidden" name="id" th:value="${todo.id}" />
          <input type="submit" value="delete" />
        </form>

      </li>
    </ul>
  </body>
</html>