<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Todo List</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>Todo List</h1>
  <a th:href="@{/todo/create}">新規作成</a>
  <a th:href="@{/}">トップページへ</a>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="todo : ${todolist}" th:object="${todo}">
          <td th:text="*{id}"></td>
          <td th:text="*{user.id}"></td>
          <td th:text="*{content}"></td>
          <td th:text="*{deadline}"></td>
          <td th:text="*{done}"></td>
          <!-- 詳細 -->
          <td>
            <a th:href="@{|/todo/detail/*{id}|}">詳細</a>
          </td>
          <!-- 更新ボタン -->
          <td th:if="${todo.user.id == #authentication.principal.user.id}">
            <a th:href="@{|/todo/update/*{id}|}">更新</a>
          </td>
          <!-- 削除ボタン -->
          <td th:if="${todo.user.id == #authentication.principal.user.id}">
            <form th:action="@{|/todo/delete/*{id}|}" method="post">
              <input type="submit" value="削除">
            </form>
          </td>
          <!-- 完了ボタン -->
          <td th:if="${todo.user.id == #authentication.principal.user.id}">
            <form th:action="@{|/todo/done/*{id}|}" method="post">
              <input type="submit" value="完了">
            </form>
      </tr>
    </tbody>
  </table>
</body>