<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>Todo List</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="todo : ${todolist}">
        <a th:href="|/todo/detail/${todo.id}|">
          <td th:text="${todo.id}"></td>
          <td th:text="${todo.user_id}"></td>
          <td th:text="${todo.content}"></td>
          <td th:text="${todo.deadline}"></td>
          <td th:text="${todo.done}"></td>
          <!-- 削除ボタン -->
          <td>
            <form action="|/todo/delete/${todo.id}|" method="post">
              <input type="submit" value="削除">
            </form>
          </td>
        </a>
      </tr>
    </tbody>
  </table>
</body>