<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>TODO更新</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>TODO作成</h1>
  <form method="post" th:action="@{/todo/update}" th:object="${form}">
    <input type="hidden" name="id" th:value="${todo.id}">
    <label>内容：<input type="text" name="content" th:value="${todo.content}"></label><br>
    <label>期限：<input type="date" name="deadline" th:value="${todo.deadline}"></label><br>
    <button type="submit">更新</button>
  </form>
  <a th:href="@{/todo/list}">TODOリストへ</a><br>
  <a th:href="@{/}">トップページへ</a>
</body>